@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Sintony';

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #edf0eb;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

body {
  background: url('/assets/exclusivepaper2.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
  background: url('/assets/slash_it.png');
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 5px 10px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 2px 5px 10px rgba(0,0,0,0.56);
  box-shadow: 0px 2px 5px 10px rgba(0,0,0,0.56);
}

.navbar-inverse .navbar-brand {
  color: #F52F07;
  font-family: 'exo_2extra_bold';
  font-size: 26px;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
  }
  .flickr_pagination .disabled {
    color: #aaaaaa;
  }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #000000;
    text-decoration: none;
  }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white;
    }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px;
  }
  .flickr_pagination .previous_page {
    margin-right: 1em;
  }
  .flickr_pagination .next_page {
    margin-left: 1em;
  }

  .field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  }

#map {
  height: 300px;
}
.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.tab {
  margin-left: 500px;
}