@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Sintony';

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #edf0eb;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

body {
  background: url('/assets/exclusivepaper2.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
  background: url('/assets/slash_it.png');
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 5px 10px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 2px 5px 10px rgba(0,0,0,0.56);
  box-shadow: 0px 2px 5px 10px rgba(0,0,0,0.56);
}

.navbar-inverse .navbar-brand {
  color: #F52F07;
  font-family: 'exo_2extra_bold';
  font-size: 26px;
}

